.form {
  display: grid;
  column-gap: 30px;
  row-gap: 10px;
  // .form__input
  &__input {
    textarea {
      color: #fff;
    }
    label {
      color: rgba($color: #fff, $alpha: 0.7);
    }
  }
  // .form__file
  &__file {
    position: relative;
    width: 50px;
  }
  // .form__image
  &__image {
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
  }
}
.file-form {
  // .file-form__input
  &__input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
  }
}
