.page {
  // .page__facebook
  &__facebook {
		min-height: 100vh;
		padding: 150px 0px;
		background: #232332;
  }
}
.facebook {
  // .facebook__container
  &__container {
  }
  // .facebook__body
  &__body {
  }
}
